.headerBar {
    height: 10vh;
    width: 99vw;
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: aliceblue;

}

.inputOptions {
    font-size: 1.25em;
}

.headerTopic {
    font-size: 2.5em;
}

.mainTable {
    width: 99vw;

    border: 1px solid black;
    border-collapse: collapse;

    td {
        text-align: center;
        border: 1px solid black
    }

    th {
        border: 1px solid black
    }


}